@font-face {
    font-family: vazir;
    src: url(./font/Vazir-Light.ttf);
}

*,
body {
    font-family: vazir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin-top: 34px;
}

.profile {
    width: 400px;
    display: flex;
}

.profile .pic-profile img {
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.profile .text-profile {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.profile .text-profile .name-profile {
    display: flex;
}

.profile .text-profile .name-profile p {
    font-size: 13px;
    color: rgb(170, 166, 166);
    padding-left: 10px;
    padding-top: 3px;
}

.profile .text-profile .dis-profile p {
    font-size: 14px;
}

.box {
    border: 1px solid rgb(182, 177, 177);
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;
    border-radius: 5px;
    height: auto;
    padding: 14px;
    margin-bottom: 40px;
}

.box .btns {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
}

.box .btns .btn-agree {
    background-color: transparent !important;
    color: green;
    border: 1px solid green;
    flex: 45%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.box .btns .btn-agree:hover {
    background-color: green !important;
    color: white;
}

.box .btns .btn-disagree {
    background-color: transparent !important;
    color: red;
    border: 1px solid red;
    flex: 45%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.box .btns .btn-disagree:hover {
    background-color: red !important;
    color: white;
}